.selectBox {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.gameBox {
    border: 1px solid black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5em;
    cursor: pointer;
    width: 25vw;
    height: 35vh;
    justify-content: end;
    color: goldenrod;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    margin-bottom: 1.3em;
}

.gameBox1 {
    background-image: url('../../image/sg1.png');
}

.gameBox1:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 10px goldenrod;
}

.noGame {
    background-image: url('../../image/sg2.png');
    cursor: not-allowed;
}

.selectContainer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.my-modal .modal-content {
    background-color: rgba(41, 41, 41, 0.63);
    border: 2px solid darkgoldenrod;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    color: darkgoldenrod;
}

.sGameBtn {
    background-color: rgb(138, 138, 138);
    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    height: 10vh;
    width: 20vw;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sGameBtn:hover {
    background-color: rgb(114, 3, 3);
}

.selectedDif {
    background-color: rgb(56, 2, 2);
}

@media (min-height: 500px){
    .gameBox {
        height: 25vh;
        width: 18vw;
    }

    .sGameBtn {
        height: 7vh;
        width: 12vw;
        font-size: 3vh;
    }
}

