
.newPjContainer {
    background-color: rgba(41, 41, 41, 0.63);
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    padding: 1em;
}

.genderBtn {
    background-color: rgb(88, 88, 88);
    border: 2px solid darkgoldenrod;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.selectedGender {
    background-color: rgb(87, 8, 8);
}

.genderBtn:hover {
    background-color: gray;
}

.newPjBtn {
    width: 14em;
    height: 4em;
    margin-bottom: 0;
}