
.bg0402 {
    background-image: url('../../../image/s0402.jpg');
    background-size: cover;
    background-position: center;
}


.img1Box0402 {
    width: 15%;
    height: 100%;
    /* background-color: beige; */
    z-index: 6;
}

.img0402 {
    height: 50vh;
    position: absolute;
    z-index: 10;
    /* left: 8vw; */
}

.textBox0402 {
    width: 70%;
    height: 100%;
    /* background-color: blue; */
    background-color: rgba(37, 37, 37, 0.658);
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
    overflow: hidden;
    color: white;
}

.img2Box0402 {
    width: 10%;
    height: 100%;
    /* background-color: beige; */
    z-index: 6;
}

.belText {
    color: rgb(231, 161, 31);
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.astText {
    color: rgb(243, 39, 12);
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
