.logButton {
    border-radius: 5px;
    background-image: url('../../image/button.png');
    background-size: cover;
    color: white;
    width: 11em;
    height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
    font-family: 'diablo';
}

.logButton:hover {
    background-image: url('../../image/buttonHover.png');
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}