.gameBar {
    min-height: 90vh;
    width: 10vw;
    background-color: rgba(0, 255, 255, 0.418);
    position: absolute;
}

/* .framework {
    position: absolute;
    height: 100%;
    width: 10vw;
    top: 0;
} */

.badgeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.madnessBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badgeImage {
    height: 8em;
}

.badgeImage:hover {
    transform: scale(1.2);
}

.madnessDiv {
    background-image: url('../../image/madness1.png');
    background-size: cover;
    background-position: center;
    background-color: aquamarine;
    width: 8em;
    height: 5.5em;
}

.madnessDiv:hover {
    background-image: url('../../image/madness2.png');
}

.madnessImg {
    width: 8em;
    background-color: aquamarine;
}

@media (min-height: 576px){
    .gameBar{
        height: 93vh;
    }
}

@media (min-height: 700px){
    .gameBar{
        height: 94vh;
    }
}

@media (min-width: 992px){
    .gameBar{
        width: 10vw;
    }
}