.gameBar {
    width: 15vw;
    background-color: aqua;
}

.badgeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badgeImage {
    height: 8em;
}

@media (min-width: 992px){
    .gameBar{
        width: 10vw;
    }
}