.gameBar {
    min-height: 90vh;
    width: 15vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badgeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollBadge {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.gbText {
    font-family: 'diablo';
    color: goldenrod;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.gameBarMargin {
    margin-top: 0.5em;
}

.gameBadge {
    cursor: pointer;
}

.madnessBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badgeImage {
    height: 10vh;
}

.badgeName {
    margin-top: 1vh;
    font-size: 2vh;
    font-family: 'diablo';
    color: black;
    text-shadow: 1px 0 darkcyan, -1px 0 darkcyan, 0 1px darkcyan, 0 -1px darkcyan,
             1px 1px darkcyan, -1px -1px darkcyan, 1px -1px darkcyan, -1px 1px darkcyan;
}

.noMadness {
    margin-top: 1vh;
    font-size: 2.3vh;
    font-family: 'diablo';
    color: black;
    text-shadow: 1px 0 darkcyan, -1px 0 darkcyan, 0 1px darkcyan, 0 -1px darkcyan,
             1px 1px darkcyan, -1px -1px darkcyan, 1px -1px darkcyan, -1px 1px darkcyan;
}

.badgeImage:hover {
    transform: scale(1.2);
}

.madnessDiv {
    background-image: url('../../image/madness1.png');
    background-size: cover;
    background-position: center;
    width: 10vw;
    height: 15.5vh;
}

.madnessDiv:hover {
    background-image: url('../../image/madness2.png');
}


@media (min-height: 576px){
    .gameBar{
        height: 93vh;
    }
}

@media (min-height: 700px){
    .gameBar{
        height: 94vh;
    }
}

@media (min-width: 992px){
    .gameBar{
        width: 10vw;
    }
}