.bg0302 {
    background-image: url('../../../image/s0302.jpg');
    background-size: cover;
    background-position: center;
}

.img1Box0302 {
    width: 40%;
    height: 100%;
    /* background-color: beige; */
    z-index: 6;
}

.btnBox0302 {
    height: 20vh;
    width: 80vw;
    margin-left: 20vw;
    /* background-color: rgba(0, 255, 255, 0.363); */
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

@media (min-height: 600px){
    .fontBtn03 {
        font-size: x-large;
    }
}

@media (min-height: 800px){
    .fontBtn03 {
        font-size: xx-large;
    }
}