.bg0302 {
    background-image: url('../../../image/s0302.jpg');
    background-size: cover;
    background-position: center;
}

.img1Box0302 {
    width: 40%;
    height: 100%;
    z-index: 6;
}

.btnBox0302 {
    height: 20vh;
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.tarcoText {
    color: green;
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

@media (min-height: 600px){
    .fontBtn03 {
        font-size: x-large;
    }
}

@media (min-height: 800px){
    .fontBtn03 {
        font-size: xx-large;
    }
}