
.bg0301 {
    background-image: url('../../../image/s0301.jpg');
    background-size: cover;
    background-position: center;
}

.box03 {
    height: 55vh;
    width: 80vw;
    /* background-color: aliceblue; */
    display: flex;
    z-index: 5;
    margin: 0;
    padding: 0;
    margin-left: 20vh;
}

.img1Box03 {
    width: 20%;
    height: 100%;
    /* background-color: beige; */
    z-index: 6;
}

.img2Box03 {
    width: 10%;
    height: 100%;
    /* background-color: beige; */
    z-index: 6;
}

.img03 {
    height: 50vh;
    position: absolute;
    z-index: 10;
}

.posImg03 {
    right: 0.5vw;
}

.textBox03 {
    width: 80%;
    height: 100%;
    /* background-color: blue; */
    background-color: rgba(37, 37, 37, 0.658);
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
    overflow: hidden;
    color: white;
}

.font03 {
    font-size: small;
    height: 33em;
}

.btnBox03 {
    height: 35vh;
    width: 80vw;
    margin-left: 20vw;
    /* background-color: rgba(0, 255, 255, 0.363); */
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.a03Box {
    width: 30%;
}

.answer03Box {
    background-color: rgba(37, 37, 37, 0.658);
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
    color: white;
    height: 50%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
}

.homeBtn03 {
    border-radius: 5px;
    /* background-color: rgb(36, 36, 36); */
    background-image: url('../../../image/button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 22vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1em; */
    cursor: pointer;
    font-family: 'diablo';
    margin-top: 0.4vh;
}

.homeBtn03:hover {
    background-image: url('../../../image/buttonHover.png');
}

.fontBtn0301 {
    font-size: small;
}

.gaaraText {
    color: rgb(245, 26, 55);
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.akumatoText {
    color: rgb(184, 118, 127);
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.solution {
    position: absolute;
    color: darkgoldenrod;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 300;
}

.solution:hover {
    color: gold
}

.solutionBox {
    position: absolute;
    height: 60vh;
    width: 80vw;
    z-index: 200;
    left: -1000em;
    background-color: rgba(37, 37, 37, 0.918);
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
}

.showSolBox {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.solutionText {
    padding: 1vh;
    color: white;
    font-size: 3.2vh;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

@media (min-height: 600px){
    .font03 {
        font-size: large;
        height: 20em;
    }

    .fontBtn0301 {
        font-size: x-large;
    }
}

@media (min-height: 800px){
    .font03 {
        font-size: x-large;
        height: 20em;
    }

    .answer03Box {
        font-size: x-large;
    }

    .homeBtn03 {
        height: 11vh;
        width: 19vw;
    }

    .fontBtn0301 {
        font-size: xx-large;
    }
}