.updIcon {
    height: 2em;
    margin-left: 1em;
}

.hide {
    display: none;
}

.pType {
    width: 5.5em;
}

.pValue {
    width: 13em;
}

/* .inputHeight {
    height: 2em;
} */

.inputBasicDesign {
    height: 1.5em;
    background-color: rgba(2, 2, 2, 0.479);
    border: 1.5px solid grey;
    border-radius: 0px;
    color: grey;
}

.inputErrorDesign {
    border: 0.2em solid darkred;
    background-color: rgb(255, 3, 3);
    color: white;
}