.updIcon {
    height: 2em;
    margin-left: 1em;
}

.hide {
    display: none;
}

.pType {
    width: 5.5em;
    color: goldenrod;
    font-family: 'gothical';
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

}

.pValue {
    width: 13em;
    color: rgb(197, 197, 197);
}

.block {
    display: block;
}


@media (min-height: 600px){
    .pType {
        width: 6em;
        font-size: x-large;
    }

    .pValue {
        font-size: x-large;
    }

    .updIcon {
        height: 3em;
    }
}

@media (min-height: 800px){
    .pType {
        width: 6.5em;
    }

    .pValue {
        width: 15em;
    }
}