
.gOverBg {
    background-image: url('../../image/gOverBg.jpg');
    background-size: cover;
    background-position: center;
}

.gOverText {
    margin-top: 27vh;
    height: 40vh;
    width: 80vw;
    padding: 5vh;
    background-color: rgba(37, 37, 37, 0.658);
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
    color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.btnMarginGO {
    margin-top: 2vh;
}
