
.homeBg {
    background-image: url('../../image/home.jpg');
    background-size: cover;
    background-position: center;
    /* z-index: -4; */
}
.title {
    /* height: 2em; */
    /* width: 30vw; */
    display: none;
}

/* .titleText {
    font-family: 'flesh';
    font-size: 3rem;
} */

.logo {
    height: 3em;
}

.titleBox {
    display: none;  
    margin: 0 !important;
}

.welcomeText {
    /* margin-top: 11vh; */
    font-weight: bold;
    font-size: xx-large;
    color: rgb(46, 46, 46);
    font-family: 'gothical';
    text-shadow: 1px 0 goldenrod, -1px 0 goldenrod, 0 1px goldenrod, 0 -1px goldenrod,
             1px 1px goldenrod, -1px -1px goldenrod, 1px -1px goldenrod, -1px 1px goldenrod;
}

/* .noCharMargin {
    margin-left: -9vw;
} */

.selectPjText {
    font-weight: bold;
    color: white;
    font-size: x-large;
    color: rgb(46, 46, 46);
    font-family: 'gothical';
    text-shadow: 1px 0 goldenrod, -1px 0 goldenrod, 0 1px goldenrod, 0 -1px goldenrod,
             1px 1px goldenrod, -1px -1px goldenrod, 1px -1px goldenrod, -1px 1px goldenrod;
}

.pjsContainer {
    /* background-color: rgba(135, 207, 235, 0.274); */
    overflow-x:scroll;
    width:100%;
}

.pjsContainer::-webkit-scrollbar {
    width: 0;
}

.scrollBox {
    display : inline-flex;
    padding: 1px;

}

.scrollBox .pjBox {
    border:1px solid goldenrod;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.192);
    margin: 0px 10px;
    /* min-width:150px;
    min-height:113px; */
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pjBox:hover {
    background-color: rgba(167, 72, 72, 0.589);
}

.pjImage {
    height: 5.5em;
}

.pjBox {
    display: flex;
    flex-direction: column;
}

/* .welcomeBox {
    padding-left: 10vw;
} */

.homeBtn {
    border-radius: 5px;
    /* background-color: rgb(36, 36, 36); */
    background-image: url('../../image/button.png');
    background-size: cover;
    color: white;
    width: 11em;
    height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
    font-family: 'diablo';
}

.homeBtn:hover {
    background-image: url('../../image/buttonHover.png');
}

.noLogImg {
    display: none;
}

.marginR {
    margin-right: 2em;
}


@media (min-height: 400px){
    .pjImage {
        height: 10em;
    }
}

@media (min-height: 500px){
    .pjImage {
        height: 12em;
    }

    .title {
        /* height: 3em; */
        font-size: x-large;
        font-weight: bold;
        margin: 0;
        margin-top: 0.25em;
        padding: 0;
        display: block;
    }

    .titleBox {
        display: block;
    }
}

@media (min-height: 600px){
    .pjImage {
        height: 16em;
    }
}

@media (min-height: 700px){
    .pjImage {
        height: 20em;
    }

    .noLogImg {
        display: block;
        height: 25em;
        width: 20em;
    }
}

@media (min-height: 800px){
    .pjImage {
        height: 22em;
    }

    .homeBtn {
        width: 12em;
        height: 3.5em;
    }

    .noLogImg {
        display: block;
        height: 30em;
        width: 23em;
    }
}

@font-face {
    font-family: 'gothical';
    src: url(../../fonts/PSG.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: 'diablo';
    src: url(../../fonts/DiabloLight.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: 'seagram';
    src: url(../../fonts/Seagram.ttf) format('truetype');
    font-style: normal;
    font-weight: bolder;
}