.registerSendDeac {
    /* height: 2em;
    width: 100%; */
    /* background-color: lightgray; */
    /* border: 1px solid white; */
    background-image: url('../../image/buttonInactive.png');
    background-size: cover;
    width: 11em;
    height: 3.2em;
    border-radius: 0.2em;
    color: white;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    font-family: 'diablo';
}

.registerSendAct {
    cursor: pointer;
    /* background-color: rgb(253, 55, 55); */
    background-image: url('../../image/button.png');
    /* border: 1px solid darkred; */
}

.errorMessage {
    color: rgb(177, 2, 2);
    /* margin-top: -0.5em; */
}

.registerSendAct:hover {
    transition: 1s;
    /* background-color: darkred; */
    background-image: url('../../image/buttonHover.png');
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBox {
    display: flex;
    /* margin: 0.5em; */
    margin-bottom: 0.25em;
    width: 90%;
}

.actionTitle {
    font-family: 'gothical';
    font-size: x-large;
    color: black;
    text-shadow: 1px 0 goldenrod, -1px 0 goldenrod, 0 1px goldenrod, 0 -1px goldenrod,
             1px 1px goldenrod, -1px -1px goldenrod, 1px -1px goldenrod, -1px 1px goldenrod;
}

.inputBasicDesign {
    height: 1.5em;
    background-color: rgba(2, 2, 2, 0.479);
    border: 1.5px solid grey;
    border-radius: 0px;
    color: grey;
}

.inputErrorDesign {
    border: 0.2em solid darkred;
    background-color: rgb(255, 3, 3);
    color: white;
}

.regImg {
    display: none;
}

@media (min-height: 600px){
    .actionTitle {
        font-size: xxx-large;
        margin-bottom: 1em;
    }

    .inputBasicDesign {
        height: 2em;
    }

    .formBox {
        margin-bottom: 1em;
    }
}

@media (min-height: 800px){
    .regImg {
        display: block;
        height: 24em;
    }
}

@media (min-height: 900px){
    .regImg {
        display: block;
        height: 30em;
    }
}