
.bg0601 {
    background-image: url('../../../image/s0601.jpg');
    background-size: cover;
    background-position: center;
}

.popoverBtn {
    background-color: rgba(37, 37, 37, 0.849);
    border: 2px solid darkgoldenrod;
    font-weight: bold;
    color: darkred;
    font-family: 'diablo';
    text-shadow: 1px 0 goldenrod, -1px 0 goldenrod, 0 1px goldenrod, 0 -1px goldenrod,
             1px 1px goldenrod, -1px -1px goldenrod, 1px -1px goldenrod, -1px 1px goldenrod;
    font-size: 2.5vh;
}