
.bg0603 {
    background-image: url('../../../image/s0603.jpg');
    background-size: cover;
    background-position: bottom;
}

.box0603 {
    height: 55vh;
    width: 85vw;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    z-index: 5;
    margin: 0;
    padding: 0;
    margin-left: 20vh;
}

.img1Box0603 {
    width: 20%;
    height: 100%;
    /* background-color: beige; */
    z-index: 6;
    display: flex;
    align-items: center;
}

.textBox0603 {
    width: 55%;
}

.img2Box0603 {
    width: 20%;
    height: 100%;
    /* background-color: beige; */
    z-index: 6;
    display: flex;
    align-items: center;
}

.img0603 {
    height: 40vh;
    position: absolute;
    z-index: 10;
    left: 8vw;
}

.img0603b {
    height: 40vh;
    position: absolute;
    z-index: 10;
    right: 0;
}

.popFont {
    font-size: 2.4vh;
}

.font0603 {
    font-size: 2.5vh;
    /* height: 55em; */
    height: 170vh;
}

.halconeraText {
    color: rgb(126, 63, 43);
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.halconText {
    color: rgb(136, 93, 80);
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.verdugoText {
    color: rgb(197, 51, 51);
    font-weight: bold;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

@media (min-height: 600px){
    .font0603 {
        height: 160vh;
    }
}

@media (min-height: 800px){
    .font0603 {
        height: 155vh;
    }
}

@media (min-height: 900px){
    .font0603 {
        height: 130vh;
    }
}